# NexusOS — menú Live CD (GRUB2 + Multiboot2).
# Argumentos tras el kernel llegan al tag de línea de comandos (MB2).
# El módulo initrd.tar se pasa al kernel mediante el tag MODULE (tipo 3).

set timeout=5
set default=0

menuentry "NexusOS (Graphical Installer)" {
	multiboot2 /boot/kernel.bin mode=gui
	module2    /boot/initrd.tar initrd
	boot
}

menuentry "NexusOS (Rescue Mode — CLI)" {
	multiboot2 /boot/kernel.bin mode=cli
	module2    /boot/initrd.tar initrd
	boot
}
