# NexusOS — menú Live CD (GRUB2 + Multiboot2).
# Argumentos tras el kernel llegan al tag de línea de comandos (MB2).

set timeout=5
set default=0

menuentry "NexusOS (Graphical Installer)" {
	multiboot2 /boot/kernel.bin mode=gui
	boot
}

menuentry "NexusOS (Rescue Mode — CLI)" {
	multiboot2 /boot/kernel.bin mode=cli
	boot
}
